.transition {
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  transition: 0.2s all;
}
.left-block {
  float: left;
}
.right-block {
  float: right;
}
body {
  font-family: 'RobotoBlack';
  background-color: #2c2c2c;
}
a {
  text-decoration: none;
}
.container {
  width: 980px;
  margin: auto;
  position: relative;
}
.basic {
  width: 100%;
  min-width: 980px;
}
.header {
  width: 100%;
  min-width: 980px;
  height: 155px;
  background: url(../images/header.png);
  -webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}
.header .basket {
  display: block;
  font-family: "RobotoCondensedRegular";
  padding: 6px 0 0 40px;
  float: right;
  text-transform: uppercase;
  background: url('../images/basket.png') no-repeat;
  color: #a9a191;
  font-size: 13px;
  margin-top: 30px;
}
.header .basket b {
  display: block;
  font-family: "RobotoCondensedBold";
  color: #dcdad2;
  font-size: 14px;
  margin-bottom: 3px;
}
.top-panel {
  height: 106px;
}
.phone {
  font-family: "RobotoCondensedRegular";
  float: left;
  width: 180px;
  text-align: left;
  color: #a9a191;
  font-size: 14px;
  margin-top: 16px;
}
.phone b {
  display: block;
  color: #dcdad2;
  margin-bottom: 5px;
  text-shadow: 1px 1px black;
  font-size: 23px;
}
.logo {
  display: block;
  width: 100px;
  height: 106px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50px;
  z-index: 2;
}
.nav {
  height: 50px;
}
.nav ul {
  float: left;
  padding-top: 15px;
  padding-left: 30px;
}
.nav ul li {
  float: left;
  padding: 0 24px;
  border-left: 2px solid #dcdad2;
  line-height: 14px;
}
.nav ul li:first-child {
  border: 0;
}
.nav ul a {
  font-family: 'RobotoBlack';
  font-size: 14px;
  color: #dcdad2;
  text-align: right;
  text-transform: uppercase;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  transition: 0.2s all;
}
.nav ul a:hover {
  color: #a9a191;
}
.search {
  float: left;
  width: 220px;
  height: 29px;
  position: relative;
  margin-top: 8px;
}
.search input[type="text"] {
  display: block;
  width: 100%;
  border: 1px solid #404040;
  height: 20px;
  padding: 0 13px;
  outline: 0;
  background: #494949;
  font-family: "RobotoCondensedRegular";
  font-size: 13px;
  height: 29px;
  color: #a9a191;
}
.search input[type="submit"] {
  display: block;
  position: absolute;
  right: 10px;
  top: 7px;
  border: 0;
  width: 13px;
  height: 13px;
  background: url('../images/search.png') no-repeat;
  cursor: pointer;
  z-index: 2;
}
.under-nav {
  width: 100%;
  min-width: 980px;
  background: #2c2c2c;
  height: 85px;
  padding-top: 33px;
}
.under-nav .menu-block {
  position: relative;
  float: right;
  right: 50%;
}
.under-nav ul {
  position: relative;
  float: left;
  left: 50%;
}
.under-nav li {
  float: left;
  border-left: 4px solid #dcdad2;
  padding: 0 22px;
  line-height: 18px;
}
.under-nav li a {
  color: #dcdad2;
  font-size: 30px;
  font-family: 'RobotoBlack';
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  transition: 0.2s all;
}
.under-nav li a:hover {
  color: #a9a191;
}
.under-nav li:first-child {
  border: 0;
}
.slider {
  width: 100%;
  min-width: 980px;
  background: #fef7ed;
  background: -moz-linear-gradient(left, #fef7ed 0%, #fbf2e9 41%, #f7eae1 60%, #f4e4d7 85%, #efddc9 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fef7ed), color-stop(41%, #fbf2e9), color-stop(60%, #f7eae1), color-stop(85%, #f4e4d7), color-stop(100%, #efddc9));
  background: -webkit-linear-gradient(left, #fef7ed 0%, #fbf2e9 41%, #f7eae1 60%, #f4e4d7 85%, #efddc9 100%);
  background: -o-linear-gradient(left, #fef7ed 0%, #fbf2e9 41%, #f7eae1 60%, #f4e4d7 85%, #efddc9 100%);
  background: -ms-linear-gradient(left, #fef7ed 0%, #fbf2e9 41%, #f7eae1 60%, #f4e4d7 85%, #efddc9 100%);
  background: linear-gradient(to right, #fef7ed 0%, #fbf2e9 41%, #f7eae1 60%, #f4e4d7 85%, #efddc9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fef7ed', endColorstr='#efddc9', GradientType=1);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
}
.slider .container {
  height: 410px;
}
.slide-desc {
  float: right;
  width: 370px;
  height: 410px;
}
.slide-desc .title {
  text-align: center;
  padding-top: 80px;
}
.slide-desc .title p {
  color: #25221f;
  font-family: "RobotoCondensedRegular";
  font-size: 18px;
  letter-spacing: 1px;
}
.slide-desc h3 {
  text-transform: uppercase;
  color: #2c2c2d;
  font-size: 30px;
  letter-spacing: 2px;
  font-family: "RobotoCondensedBold";
}
.slide-desc h3:after {
  content: "";
  display: block;
  width: 35px;
  margin: 15px auto;
  border-bottom: 1px solid #343537;
}
.slide-desc .view-link {
  display: block;
  width: 115px;
  height: 30px;
  text-align: center;
  background-color: #5d564c;
  color: white;
  font-family: "RobotoCondensedBold";
  font-size: 18px;
  padding-top: 4.5px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: auto;
  margin-top: 145px;
}
.features {
  width: 100%;
  min-width: 980px;
  background-color: #2c2c2c;
  height: 125px;
}
.feat-wrap {
  padding-top: 35px;
  padding-left: 30px;
}
.feat-block {
  float: left;
  color: #dcdad2;
  font-size: 14px;
  font-family: "RobotoCondensedLight";
  margin-left: 30px;
}
.feat-block span {
  padding-left: 5px;
  letter-spacing: 0.5px;
}
.bigdata {
  width: 100%;
  min-width: 980px;
  background: url(../images/bg-2.png);
  font-family: "RobotoCondensedLight";
  font-size: 14px;
  color: #dcdad2;
  padding-top: 35px;
  padding-bottom: 30px;
}
.bigdata p {
  margin-bottom: 20px;
  line-height: 1.2;
}
.carousel {
  position: relative;
  width: 100%;
  min-width: 980px;
}
.carousel li img {
  width: 100%;
  height: auto;
}
.carousel .bx-next,
.carousel .bx-prev {
  width: 60px;
  height: 60px;
  background-color: #610206;
  display: block;
  text-indent: -9999px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
}
.carousel .bx-next {
  right: 10px;
}
.carousel .bx-prev {
  left: 10px;
}
.name-title {
  text-transform: uppercase;
  color: #dcdad2;
  font-size: 30px;
  padding-left: 20px;
}
.tovar {
  width: 100%;
  min-width: 980px;
  position: relative;
  top: -3px;
}
.tovar header {
  height: 80px;
  background-color: #2c2c2c;
  text-align: center;
}
.tovar header > .container {
  height: 80px;
}
.tovar .red-logo {
  position: relative;
  top: 13px;
}
.tovar .name-title {
  position: relative;
  top: -3px;
}
.tovar .item {
  background: url(../images/bg-2.png);
  text-align: center;
}
.content {
  width: 100%;
  min-width: 980px;
}
.content .left-block,
.content .right-block {
  width: 48%;
}
.content .text-block {
  background: url(../images/bg-2.png);
  padding: 15px 30px;
  color: #dcdad2;
  font-size: 14px;
  line-height: 18px;
  height: auto;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.16);
}
.content .text-block img {
  display: block;
  margin: 5px 0;
}
.content header {
  height: 85px;
  padding-left: 40px;
}
.content .red-logo {
  position: relative;
  top: 14px;
}
.content .view-link {
  display: block;
  width: 60%;
  height: 50px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  background: #818181;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
  font-size: 30px;
  color: #dcdad2;
  padding: 15px;
}
.footer {
  width: 100%;
  min-width: 980px;
  margin-top: 55px;
  border-top: 1px solid #353535;
  padding-top: 25px;
  padding-bottom: 35px;
  font-family: "RobotoCondensedRegular";
  font-size: 12px;
  color: #a9a191;
  text-transform: uppercase;
}
.footer .foot-menu li {
  text-align: right;
  margin-bottom: 12px;
}
.footer .foot-menu a {
  color: #a9a191;
}
.footer .foot-menu a:hover {
  color: #dcdad2;
}
.footer .left-block {
  line-height: 1.6;
}
.footer .first-p {
  color: #666666;
}
.footer .first-p a {
  color: #666666;
}
.footer .first-p a:hover {
  color: #dcdad2;
}
.footer .second-p {
  margin-top: 10px;
}
.footer .second-p span {
  border-bottom: 1px dotted #dcdad2;
}
.footer .second-p a {
  color: #a9a191;
  margin-top: 5px;
  display: inline-block;
}
.footer .second-p a:hover {
  color: #dcdad2;
}
.footer .social-icon {
  margin-top: 10px;
}
.footer .social-icon li {
  float: left;
  margin-right: 10px;
}
.interior-foot {
  margin-top: 0;
}
.wrapper {
  background: url('../images/left.png') repeat-y;
}
.left-menu {
  float: left;
  width: 200px;
  padding: 20px 25px;
}
.parent-list {
  font-family: "RobotoCondensedBold";
}
.parent-list > .title {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
.parent-list > .title > a {
  color: #a9a191;
}
.parent-list > .title > a:hover {
  color: #dcdad2;
}
.child-list {
  margin: 15px 0;
  line-height: 1.1;
}
.child-list a {
  font-size: 14px;
  color: #dcdad2;
  text-transform: uppercase;
}
.child-list a:hover {
  color: white;
}
.main {
  float: right;
  width: 780px;
  padding-top: 20px;
}
.main h3 {
  font-size: 24px;
  color: #dcdad2;
  width: 130px;
  font-family: "RobotoCondensedBold";
  text-transform: uppercase;
  float: left;
  padding-left: 15px;
}
.breadcrumbs {
  color: #a9a191;
  font-family: "RobotoCondensedRegular";
  font-size: 12px;
  margin-bottom: 10px;
  padding-left: 15px;
}
.breadcrumbs li {
  float: left;
}
.breadcrumbs li a {
  color: #a9a191;
  text-decoration: underline;
}
.breadcrumbs li a:hover {
  text-decoration: none;
}
.breadcrumbs li span {
  padding: 0 5px;
}
.filter {
  float: left;
  margin-left: 20px;
  font-family: "RobotoCondensedBold";
  font-size: 13px;
  color: #dcdad2;
}
.filter .select {
  float: left;
  margin-left: 10px;
}
/*	=	Select */

.slct {
  display: block;
  background: #393939;
  /* Old browsers */
  background: -moz-linear-gradient(left, #393939 0%, #323232 60%, #303030 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #393939), color-stop(60%, #323232), color-stop(100%, #303030));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #393939 0%, #323232 60%, #303030 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #393939 0%, #323232 60%, #303030 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #393939 0%, #323232 60%, #303030 100%);
  /* IE10+ */
  background: linear-gradient(to right, #393939 0%, #323232 60%, #303030 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#393939', endColorstr='#303030', GradientType=1);
  /* IE6-9 */
  width: 105px;
  height: 25px;
  overflow: hidden;
  padding-top: 5px;
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  color: #dcdad2;
  position: relative;
}
.drop {
  margin: 0;
  padding: 0;
  width: 105px;
  border: 1px solid #cecece;
  border-top: none;
  display: none;
  position: absolute;
  background: white;
  z-index: 2;
}
.drop li {
  list-style: none;
  border-top: 1px dotted #e8e8e8;
  cursor: pointer;
  display: block;
  padding: 5px 10px;
  color: #222222;
}
.drop li:hover {
  background-color: #e8e8e8;
}
.price-range {
  float: right;
  margin-right: 20px;
  width: 180px;
  position: relative;
  top: -18px;
}
.cat-block {
  float: left;
  width: 25%;
  height: 365px;
}
.cat-block:hover .cat-desc {
  display: block;
}
.cat-block img {
  width: 100%;
}
.cat-desc {
  padding-left: 10px;
  padding-top: 5px;
  line-height: 1.2;
  height: 120px;
  display: none;
}
.cat-desc .title {
  color: #dcdad2;
  font-size: 14px;
}
.cat-desc .brand {
  color: #a5a191;
  font-size: 14px;
  font-family: "RobotoCondensedLight";
  margin-top: 3px;
}
.cat-desc .price {
  margin-top: 5px;
}
.cat-desc .today-price {
  font-size: 14px;
  color: #dcdad2;
}
.cat-desc .prev-price {
  font-family: "RobotoCondensedLight";
  font-size: 14px;
  text-decoration: line-through;
  color: #dcdad2;
  padding-left: 15px;
}
.cat-desc .buy {
  display: block;
  margin-top: 5px;
  margin-left: -10px;
  background: #393939;
  /* Old browsers */
  background: -moz-linear-gradient(left, #393939 0%, #323232 60%, #303030 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #393939), color-stop(60%, #323232), color-stop(100%, #303030));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #393939 0%, #323232 60%, #303030 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #393939 0%, #323232 60%, #303030 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #393939 0%, #323232 60%, #303030 100%);
  /* IE10+ */
  background: linear-gradient(to right, #393939 0%, #323232 60%, #303030 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#393939', endColorstr='#303030', GradientType=1);
  /* IE6-9 */
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  height: 25px;
  padding-top: 6px;
  font-size: 12px;
  color: #dcdad2;
}
.size {
  margin-top: 5px;
}
.size li {
  float: left;
  margin-right: 7px;
}
.size li span {
  display: block;
  text-align: center;
  height: 20px;
  padding: 0 10px;
  padding-top: 3px;
  border: 1px solid #373737;
  background: transparent;
  cursor: pointer;
  font-family: "RobotoCondensedRegular";
  font-size: 11px;
  color: #a5a191;
}
.size li span:hover,
.size li span.active {
  background: #585656;
  border-color: #a8a192;
}
.deatil-block {
  padding-left: 15px;
}
.deatil-block h2 {
  font-size: 30px;
  color: #dcdad2;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.deatil-block .art {
  color: #dcdad2;
  font-size: 18px;
  margin-bottom: 5px;
}
.deatil-block .art span {
  color: #9b988b;
  text-transform: uppercase;
  padding-right: 5px;
}
.item-photo {
  position: relative;
  z-index: 1;
}
.item-photo .bx-controls {
  display: none;
}
.thumbnail {
  margin-top: 10px;
  margin-left: 1px;
}
.thumbnail img {
  width: 75px;
  height: 75px;
}
.thumbnail a {
  margin-right: 10px;
}
.var-block {
  margin-bottom: 20px;
}
.var-block .title {
  text-transform: uppercase;
  color: #dcdad2;
  font-size: 16px;
}
.var-block .size {
  margin-top: 15px;
}
.var-block .size span {
  width: 35px;
  height: 28px;
  padding: 0;
  font-size: 14px;
  padding-top: 6px;
}
.var-block .color {
  width: 78px;
  height: 30px;
  background-color: #ac928f;
  margin-top: 10px;
}
.var-block .price {
  color: #dcdad2;
  font-size: 30px;
}
.var-block .buy {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #dcdad2;
  font-size: 14px;
  width: 220px;
  height: 40px;
  padding-top: 13px;
  background: #94080e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #94080e 0%, #88050b 48%, #7d060c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #94080e), color-stop(48%, #88050b), color-stop(100%, #7d060c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #94080e 0%, #88050b 48%, #7d060c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #94080e 0%, #88050b 48%, #7d060c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #94080e 0%, #88050b 48%, #7d060c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #94080e 0%, #88050b 48%, #7d060c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94080e', endColorstr='#7d060c', GradientType=0);
  /* IE6-9 */

}
.size-link a {
  font-family: "RobotoCondensedLight";
  text-decoration: underline;
  color: #a9a191;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 5px;
}
.size-link a:hover {
  text-decoration: none;
}
.icons-list {
  font-size: 14px;
  margin-top: 10px;
  color: #dcdad2;
  font-family: "RobotoCondensedLight";
}
.icons-list span {
  padding-left: 10px;
}
.icons-list li {
  margin-bottom: 10px;
}
.item-detail {
  position: relative;
}
.detail-desc {
  position: absolute;
  top: 0;
  right: 0;
  width: 335px;
  z-index: 2;
}
.tabs {
  margin-top: 15px;
  background: url(../images/bg-2.png);
}
.tabs-list {
  background: #383838;
  /* Old browsers */
  background: -moz-linear-gradient(top, #383838 0%, #2d2d2d 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383838), color-stop(100%, #2d2d2d));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #383838 0%, #2d2d2d 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #383838 0%, #2d2d2d 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #383838 0%, #2d2d2d 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #383838 0%, #2d2d2d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#383838', endColorstr='#2d2d2d', GradientType=0);
  /* IE6-9 */

}
.tabs-list li {
  float: left;
  width: 170px;
  height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #dcdad2;
  font-size: 14px;
  cursor: pointer;
  font-family: "RobotoCondensedBold";
  padding-top: 5px;
  margin-right: 1px;
}
.tabs-list li.active,
.tabs-list li:hover {
  background: #94080e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #94080e 0%, #88050b 48%, #7d060c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #94080e), color-stop(48%, #88050b), color-stop(100%, #7d060c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #94080e 0%, #88050b 48%, #7d060c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #94080e 0%, #88050b 48%, #7d060c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #94080e 0%, #88050b 48%, #7d060c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #94080e 0%, #88050b 48%, #7d060c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94080e', endColorstr='#7d060c', GradientType=0);
  /* IE6-9 */

}
.description,
.properties,
.review {
  padding: 10px;
  color: #dcdad2;
  line-height: 1.3;
  height: 250px;
  margin-bottom: 20px;
}
.properties,
.review {
  display: none;
}
